.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.matrix {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.matrix input {
  width: 100%;
  height: 30px;
  text-align: center;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result h2 {
  margin-bottom: 10px;
}

.result table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

.result td,
.result th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}